aclocal.m4
autom4te.cache
config.guess
config.h*
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h
stamp-h.in
stamp-h1

/m4

*.la
*.lo
*.o
*.swp
*~
.deps
.libs
Makefile
Makefile.in
