[package]
name = "gst-dots-viewer"
version = "0.1.0"
edition = "2021"
default-run = "gst-dots-viewer"

[workspace]

[dependencies]
actix = "0.13"
actix-web = "4.0"
actix-web-actors = "4.0"
actix-files = "0.6"
notify = "8.0"
tokio = { version = "1.0", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
serde_json = "1.0"
once_cell = "1"
clap = { version = "4", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
actix-web-static-files = "4.0"
static-files = { version = "0.2.5", features = ["sort"] }
glob = "0.3"
single-instance = "0.3.3"
opener = "0.8"
anyhow = "1.0"

[target.'cfg(windows)'.dependencies]
windows = { version = "0.61", features = ["Win32_UI_Shell"] }

[build-dependencies]
static-files = { version = "0.2.5", features = ["sort"] }

[[bin]]
name = "gst-dots-viewer"
path = "src/main.rs"
