[package]
name = "gst-dots-viewer"
version = "0.1.0"
edition = "2021"
default-run = "gst-dots-viewer"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix = "0.13"
actix-web = "4.0"
actix-web-actors = "4.0"
actix-files = "0.6"
notify = "6.0"
tokio = { version = "1.0", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
serde_json = "1.0"
once_cell = "1"
clap = { version = "4", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
actix-web-static-files = "4.0"
static-files = "0.2.1"
glob = "0.3"
single-instance = "0.3.3"
opener = "0.7.1"
anyhow = "1.0"
windows = { version = "0.59", features = ["Win32_UI_Shell"] }

[build-dependencies]
static-files = "0.2.1"

[[bin]]
name = "gst-dots-viewer"
path = "src/main.rs"
