Makefile
Makefile.in
*.bak
.deps
images
gst-filter-writers-guide
gst-filter-writers-guide.pdf
gst-filter-writers-guide.ps
gst-filter-writers-guide.dvi
gst-filter-writers-guide.tex
gst-filter-writers-guide.log
gst-filter-writers-guide.aux
