*.bak
unused-build.stamp
gst.sgml
gstadapter.sgml
gstbasesink.sgml
gstbasesrc.sgml
gstbasetransform.sgml
gstbin.sgml
gstbuffer.sgml
gstbus.sgml
gstcaps.sgml
gstcheck.sgml
gstclock.sgml
gstcollectpads.sgml
gstcompat.sgml
gstconfig.sgml
gstevent.sgml
gstfakesrc.sgml
gstfakesink.sgml
gstfilesrc.sgml
gstfilesink.sgml
gstmessage.sgml
gstminiobject.sgml
gstprobe.sgml
gstpushsrc.sgml
gstquery.sgml
gsttask.sgml
gstxmlregistry.sgml
