<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playback Tutorial 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Playback Tutorial 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Turorial 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Tutorial 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tutorial 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Tutorial 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tutorial 5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tutorial 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Tutorial 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Tutorial 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Tutorial 9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63118C3F156D29340085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118C53156D29DE0085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118C66156D2B790085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118C74156D2B970085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118C87156D2D190085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118C97156D2E2F0085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118CA8156D30610085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118CB8156D31240085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118CC7156D32E20085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118CD8156D34BA0085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63118CE9156D3A870085CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DE8811156DABDF006F2D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DE881F156DABE6006F2D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DE882D156DABEE006F2D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
