.dirstamp
adapter
aggregator
baseparse
basesink
basesrc
bitreader
bitreader-noinline
bytereader
bytereader-noinline
bytewriter
bytewriter-noinline
gdp
collectpads
controller
flowcombiner
gstharness
gstlibscpp
gstnetclientclock
gstnettimeprovider
gsttestclock
libsabi
sparsefile
transform1
transform2
typefindhelper
queuearray
*.check.xml
