Makefile
Makefile.in
*.c
*.o
*.lo
*.la
.deps
.libs

dynamic
elementget
elementmake
gnome
helloworld
helloworld2
init
popt
queue
threads
bin
decodebin
elementcreate
elementfactory
elementlink
ghostpad
pad
playbin
query
fakesrc
typefind

xml-mp3
xml
xmlTest.gst
README

*.bb
*.bbg
*.da

test-registry.*
