Makefile
Makefile.in
*.c
*.o
*.lo
*.la
.deps
.libs

appsink
appsrc
blockprobe
dynformat
elementget
elementmake
gnome
helloworld
helloworld2
init
popt
queue
threads
bin
decodebin
dynamic
elementcreate
elementfactory
elementlink
ghostpad
pad
playbin
playsink
norebuffer
probe
query
fakesrc
typefind
effectswitch
testrtpool

xml-mp3
xml
xmlTest.gst
README

*.bb
*.bbg
*.da

test-registry.*
