BasedOnStyle: GNU
ColumnLimit: 80
IndentPPDirectives: AfterHash
PointerAlignment: Right
UseTab: Never
# BreakBeforeBraces: Linux
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  SplitEmptyFunction: false
IndentCaseBlocks: true
IndentCaseLabels: true
TabWidth: 8
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
AlignEscapedNewlines: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: true
BinPackArguments: true
PackConstructorInitializers: NextLine
DerivePointerAlignment: true
