*~
*.o
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
stamp-h1
stamp-h.in
mkinstalldirs
missing
ltmain.sh
libtool
install-sh
gst-ffmpeg-*.tar.*
depcomp
configure
config.sub
config.status
config.log
config.h.in
config.h
config.guess
compile
autoregen.sh
autom4te.cache
aclocal.m4
INSTALL
COPYING
gst-ffmpeg.spec
-
