[submodule "common"]
        path = common
        url = git://anongit.freedesktop.org/gstreamer/common
[submodule "gst-libs/ext/libav"]
        path = gst-libs/ext/libav
        url = git://source.ffmpeg.org/ffmpeg.git
