[submodule "common"]
        path = common
        url = https://anongit.freedesktop.org/git/gstreamer/common.git
[submodule "gst-libs/ext/libav"]
        path = gst-libs/ext/libav
        url = git://source.ffmpeg.org/ffmpeg.git
