*.o
*.so
*.a
*.la
*.lo
*~

Makefile
Makefile.in
core
log
.deps
.libs
.dirstamp

/aclocal.m4
/autom4te.cache
/autoregen.sh
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h.in
/stamp-h1

/ges/gesmarshal.h

/m4