Makefile
Makefile.in
aclocal.m4
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
gstreamer-[0-9]*
gstreamer-config
gstreamer.pc
gstreamer-uninstalled.pc
gstreamer.spec
gst-element-check-*.m4
libtool
ltconfig
ltmain.sh
missing
stamp-h
stamp-h.in
stamp.h
autom4te.cache
autom4te-2.53.cache
stamp-h1
autoregen.sh
compile
depcomp
install-sh
mkinstalldirs
py-compile
ABOUT-NLS
