Makefile
Makefile.in
html
sgml
gstreamer.signals
gstreamer.types
gstreamer.html
gstreamer-unused.txt
gstreamer-decl-list.txt
gstreamer-decl.txt
gstreamer-scan.c
gstreamer-scan
gstreamer.args
*.tgz
*.tex
*.log
*.aux
*.dvi
*.ps
