Makefile
Makefile.in
gstreamer-decl-list.txt
gstreamer-decl.txt
gstreamer-undocumented.txt
gstreamer-unused.txt
gstreamer-undeclared.txt

gstreamer.args
gstreamer.hierarchy
gstreamer.interfaces
gstreamer.prerequisites
gstreamer.signals

html
sgml
tmpl
*.stamp

doc-registry.xml

gstreamer.html
gstreamer-presed-scan.c
gstreamer-scan.c
gstreamer-scan
tmpl.stamp
tmpl-build.stamp
sgml.stamp
sgml-build.stamp
scan-build.stamp
html.stamp
html-build.stamp
*.tgz
*.tex
*.log
*.aux
*.dvi
*.ps
*.bak
gtkdoc-fixxref
xml

gst-universe.svg

gstreamer.types
gstreamer-scan.gcno
