Makefile
Makefile.in
html
sgml
gstreamer.signals
gstreamer.types
gstreamer.html
gstreamer.prerequisites
gstreamer.interfaces
gstreamer.hierarchy
gstreamer-unused.txt
gstreamer-undocumented.txt
gstreamer-decl-list.txt
gstreamer-decl.txt
gstreamer-presed-scan.c
gstreamer-scan.c
gstreamer-scan
gstreamer.args
tmpl.stamp
tmpl-build.stamp
sgml.stamp
sgml-build.stamp
scan-build.stamp
html.stamp
html-build.stamp
*.tgz
*.tex
*.log
*.aux
*.dvi
*.ps
gtkdoc-fixxref
xml
