Makefile
Makefile.in
*.o
*.lo
*.la
.deps
.libs
*.xml
*.gst
init
loadall
simplefake
states
caps
queue
registry
paranoia
rip
mp3encode
autoplug
props
case4
markup
load
padfactory
tee
autoplug2
autoplug3
capsconnect
autoplug4
incsched
reaping
threadlock
mp1vid
reconnect
paramunits
faketest
events
lat
*.bb
*.bbg
*.da
