generated/*
glue/generated.c
generated-stamp
AssemblyInfo.cs
gstreamer-api.xml
gstreamer-sharp.dll.config
gstreamer-sharp.dll.mdb
gstreamer-sharp.pdb
gstreamer-sharp.snk
*plugins/generated/*
*plugins/*.cs
*plugins/*.xml
