
TESTS_ENVIRONMENT=\
	G_DEBUG=fatal_warnings \
	GST_PLUGIN_PATH=$(top_builddir)/gst:. \
	GST_REGISTRY=$(top_builddir)/testsuite/test-registry.xml


plugindir = $(libdir)/gstreamer-@GST_MAJORMINOR@

check_PROGRAMS = $(tests_pass) $(tests_fail)

# make all tests depend on the versioned gst-register
$(tests_pass) $(tests_fail): $(top_builddir)/tools/gst-register-@GST_MAJORMINOR@

# rebuild gst-register-@GST_MAJORMINOR@ if needed
# the EXEEXT is because am 1.6 complained about overrides
$(top_builddir)/tools/gst-register-@GST_MAJORMINOR@$(EXEEXT):
	cd $(top_builddir)/tools && make

TESTS = $(tests_pass) $(tests_fail)
XFAIL_TESTS = $(tests_fail)

AM_CFLAGS = $(GST_CFLAGS)
LIBS = $(GST_LIBS)

# override to _not_ install the test plugins
install-pluginLTLIBRARIES:

# This rule is here so make distcheck works on machines where core
# dumps have PIDs appended
CLEANFILES = core.*

