Makefile
Makefile.in
*.o
*.lo
*.la
*.bb
*.bbg
*.da
.deps
.libs

app_fixate
audioscale
caps
compatibility
erathostenes
filtercaps
fixed
intersect2
intersection
normalisation
union
simplify
sets
string-conversions
subtract
value_compare
value_intersect
value_serialize
