Makefile
Makefile.in
*.o
*.lo
*.la
.deps
.libs
dynamic
dynamic.c
gnome
gnome.c
helloworld
helloworld.c
helloworld2
helloworld2.c
queue
queue.c
threads
threads.c
xml-mp3
xml-mp3.c
xml.c
xml
xmlTest.gst
README

*.bb
*.bbg
*.da
