*.[oa]
*.pyc
*.gcda
*.gcno
*.la
*.lo
*.loT
*.sw[po]
*.tar.*
*~
.deps
.libs
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoregen.sh
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
stamp-h1
tags
test-driver
stamp-h.in
.dirstamp
*.gir
*.typefind
*.orig
*.stamp
*.log
*.trs
build*/

.arcconfig
/m4/*m4

/po
*docs/launcher/html
*tools/gst-validate-launcher

tests/check/validate/monitoring
tests/check/validate/overrides
tests/check/validate/reporting
tests/check/validate/padmonitor

/launcher/config.py
