Source: gstreamer
Section: libs
Priority: optional
Maintainer: David I. Lehn <dlehn@vt.edu>
Build-Depends: debhelper (>= 3.0.0), libxml-dev (>= 1.8.10), zlib1g-dev (>= 1:1.1.3), libghttp-dev (>= 1.0.6), libglib1.2-dev (>= 1.2.8), libgtk1.2-dev (>= 1.2.8), libglade0-dev (>= 0.14), libglade-gnome0-dev (>= 0.14), hermes1-dev (>= 1.3.1), pkg-config (>= 0.8.0)
Build-Depends-Indep: debhelper (>= 3.0.0), gtk-doc-tools (>= 0.4), jade (>= 1.2.1), transfig (>= 3.2.3.c), docbook-utils (>= 0.6.9), xsltproc (>= 1.0.6)
Standards-Version: 3.5.6

Package: libgst2
Architecture: [alpha arm hppa i386 mips powerpc sparc]
Section: libs
Depends: ${shlibs:Depends}
Suggests: gstreamer-core, gstreamer-misc
Description: Core GStreamer shared library
 Core GStreamer shared library

Package: libgst-dev
Architecture: any
Section: devel
Depends: libgst2 (= ${Source-Version}), libc6-dev, pkg-config
Recommends: gstreamer-doc (= ${Source-Version})
Description: GStreamer development libraries and headers
 GStreamer development libraries and headers

Package: gstreamer-runtime
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Suggests: gstreamer-tools
Description: gstreamer-register binary needed to manage plugin registry
 gst-register: binary needed to manage plugin registry
 gst-compprep: register components for gstreamer-complete

Package: gstreamer-doc
Architecture: all
Section: doc
Recommends: libgst-dev (= ${Source-Version})
Description: Core GStreamer documentation
 Core GStreamer documentation

Package: gstreamer-tools
Architecture: any
Section: x11
Depends: ${shlibs:Depends}
Suggests: gstreamer-misc
Description: Tools for use with GStreamer
 Tools for use with GStreamer
 .
 gst-inspect: query details of installed plugins
 gst-launch: command line pipeline generator
 gst-complete: gstreamer-launch bash command line completion tool

Package: gstreamer-core
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (= ${Source-Version})
Description: Core element and library plugins for GStreamer
 Core element and library plugins for GStreamer
 .
 Includes various basic elements:
 * file source and sink
 * tee and aggregator
 * fake source and sink for testing
 * identity
 * pipe filter
 * statistics
 .
 And other important yet plugable pieces:
 * autoplugging support
 * standard scheduler
 * type detection support
 .
 Some library plugins:
 * bytestream
 * control
 * putbits
 * getbits
 .
 These plugins have no external dependencies.
