Source: gst-plugins
Section: libs
Priority: optional
Maintainer: David I. Lehn <dlehn@vt.edu>
Build-Depends: debhelper (>= 3.0.0), libgstreamer-dev (>= 0.4.0), gstreamer-core-libs-dev (>= 0.4.0), xlibs-dev (>= 4.1.0), xlibs-pic (>= 4.1.0), libxml2-dev (>= 2.4.23), zlib1g-dev (>= 1:1.1.4), libghttp-dev (>= 1.0.9), libglib2.0-dev (>= 2.0.4), libesd0-dev (>= 0.2.28), libcdparanoia0-dev (>= 3a9.8), libvorbis-dev (>= 1.0.0), libasound2-dev (>= 0.9.0), libjpeg62-dev (>= 6b), aalib1-dev (>= 1.4p5), libmad0-dev (>= 0.14.2b), hermes1-dev (>= 1.3.2), libarts-dev (>= 2.2.2), libgsm1-dev (>= 1.0.10), libgnomevfs2-dev (>= 2.0.2), libsdl1.2-dev (>= 1.2.4), libaudiofile-dev (>= 0.2.3), libavifile0.7-dev (>= 0.7.12.20020719), festival-dev (>= 1.4.2), libflac-dev (>= 1.0.4), libmpeg2-1-dev (>= 0.2.1), libcpuaccel0-dev (>= 0.2.1), pkg-config (>= 0.11.0), libsidplay1-dev (>= 1.36.47), libmikmod2-dev (>= 3.1.10), liba52-0.7.4-dev, libdvdread2 (>= 0.9.3), libid3tag0-dev (>= 0.14.2b), libgconf2-dev (>= 1.2.0), libdvdnav-dev (>= 0.1.1), libjack0.34.0-dev (>= 0.34.0), libdv2-dev, ladspa-sdk (>= 1.0)
Standards-Version: 3.5.7

Package: gstreamer-plugins
Architecture: any
Section: libs
Depends: gstreamer-plugin-apps, gstreamer-plugin-libs, gstreamer-a52dec, gstreamer-aa, gstreamer-alsa, gstreamer-arts, gstreamer-artsd, gstreamer-audiofile, gstreamer-avifile, gstreamer-cdparanoia, gstreamer-colorspace, gstreamer-core, gstreamer-core-libs, gstreamer-misc, gstreamer-dv, gstreamer-dvd, gstreamer-esd, gstreamer-festival, gstreamer-flac, gstreamer-gconf, gstreamer-gnomevfs, gstreamer-gsm, gstreamer-http, gstreamer-jack, gstreamer-jpeg, gstreamer-mad, gstreamer-mikmod, gstreamer-mpeg2dec, gstreamer-oss, gstreamer-sdl, gstreamer-sid, gstreamer-vorbis, gstreamer-x
Description: Pseudo package for all GStreamer plugins
 Pseudo package which depends on all current GStreamer plugin packages.
 .
 This package enables the use of all current GStreamer plugins.
 .
 NOTE: This package depends on many other packages.  Installing this
 package could also cause many other sub-dependencies to be installed.

Package: gstreamer-plugin-apps
Architecture: any
Section: x11
Depends: ${shlibs:Depends}
Recommends: gstreamer-plugins
Description: Simple GStreamer applications
 Simple GStreamer applications
 .
 gst-launch-ext - wrapper script around common gst-launch pipelines
 gst-visualise - simple visualization script

Package: gstreamer-plugin-libs
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Various GStreamer library plugins
 Various GStreamer library plugins
 .
 GStreamer plugins load these at runtime as needed.
 Other plugin pacakges will depend on this package if it is needed.
 .
 gstaudio
 gstidct
 gstriff
 gstresample

Package: gstreamer-plugin-libs-dev
Architecture: any
Section: devel
Depends: gstreamer-plugin-libs
Description: Development files for various GStreamer library plugins
 Development files for the GStreamer library plugins found in
 the gstreamer-plugin-libs package.  Install this package if you
 are developing plugins that use the following library plugins:
 .
 gstaudio
 gstidct
 gstriff
 gstresample

Package: gstreamer-a52dec
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-core-libs, gstreamer-runtime (>= 0.4.1)
Description: ATSC A/52 audio decoder plugin for GStreamer
 ATSC A/52 audio decoder plugin for GStreamer based on liba52
 .
 This plugin enables decoding of audio commonly found on DVDs and in other
 MPEG streams.
 .
 http://liba52.sourceforge.net/

Package: gstreamer-aa
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: AA-lib plugin for GStreamer
 AA-lib plugin for GStreamer
 .
 This plugin enables video streams to be displayed as text.
 .
 http://aa-project.sourceforge.net/aalib/

Package: gstreamer-alsa
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-core-libs, gstreamer-runtime (>= 0.4.1)
Description: ALSA plugin for GStreamer
 ALSA plugin for GStreamer
 .
 This plugin enables the usage of ALSA supported devices for input and output
 audio streams.
 .
 http://www.alsa-project.org/

Package: gstreamer-arts
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: aRts plugin for GStreamer
 Analog Realtime Synthesizer (aRts) plugin for GStreamer
 .
 This plugin enables the use of arts processing in a GStreamer pipeline.
 .
 http://www.arts-project.org/

Package: gstreamer-artsd
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: aRtsd plugin for GStreamer
 Analog Realtime Synthesizer daemon (aRtsd) plugin for GStreamer
 .
 This plugin enables audio output to artsd.
 .
 http://www.arts-project.org/

Package: gstreamer-audiofile
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-plugin-libs, gstreamer-runtime (>= 0.4.1)
Description: AudioFile plugin for GStreamer
 AudioFile plugin for GStreamer based on libaudiofile
 .
 This plugin enables the processing of audio data from formats supported by
 libaudiofile including AIFF, AIFF-C, WAVE, NeXT/Sun, BICS, and raw data.
 .
 http://oss.sgi.com/projects/audiofile/

Package: gstreamer-avifile
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: avifile plugin for GStreamer
 avifile plugin for GStreamer
 .
 This plugin uses libavifile to read and write compressed streams.  avifile
 supports many libraries that are natively supported with other GStreamer
 plugins.  It also supports AVI files (Indeo Video, DivX :-), etc.) under
 x86 Linux through the use of win32 codecs.
 .
 http://avifile.sourceforge.net/

Package: gstreamer-cdparanoia
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: cdparanoia plugin for GStreamer
 cdparanoia plugin for GStreamer
 .
 This plugin enables the use of a cd player as an audio stream source
 .
 http://www.xiph.org/paranoia/

Package: gstreamer-colorspace
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: colorspace conversion plugin for GStreamer
 colorspace conversion plugin for GStreamer
 .
 This plugin converts a video stream from one colorspace format to another.
 This is often used to convert from a native stream format to a format that
 can be efficiently displayed.

Package: gstreamer-dv
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: DV plugin for GStreamer
 DV plugin for GStreamer based on libdv.
 .
 This plugin enables the use of DV formatted video.  The Quasar DV Codec
 (libdv) is a software decoder for DV format video, as defined by the
 IEC 61834 and SMPTE 314M standards. DV is the encoding format used by
 consumer-grade digital camcorders.
 .
 http://libdv.sourceforge.net/

Package: gstreamer-dvd
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: DVD plugin for GStreamer
 DVD plugins for GStreamer based on libdvdread and libdvdnav.
 .
 This plugin enables the use of a DVD player as an audio and video input.
 .
 http://dvd.sourceforge.net/

Package: gstreamer-esd
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: Enlightened Sound Daemon plugin for GStreamer
 Enlightened Sound Daemon plugin for GStreamer
 .
 This plugin enables the use of ESD for audio output.

Package: gstreamer-festival
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: Festival speech synthesis plugin for GStreamer
 Festival speech synthesis plugin for GStreamer
 .
 This plugin enables the use of a festival server to perform speech
 synthesis.

Package: gstreamer-flac
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: FLAC plugin for GStreamer
 Free Lossless Audio Codec (FLAC) plugin for GStreamer
 .
 This plugin enables lossless audio compression and decompression with
 the FLAC library.
 .
 http://flac.sourceforge.net/

Package: gstreamer-gconf
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: GConf support for GStreamer
 GConf support for GStreamer
 .
 GStreamer applications can use GConf to support persistent and/or shared
 settings such as a default user specified audio and video sink.
 .
 Includes a library, development files, and a schema.
 .
 http://www.gnome.org/projects/gconf/

Package: gstreamer-gnomevfs
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: Gnome VFS plugin for GStreamer
 Gnome VFS plugin for GStreamer
 .
 This plugin enables data stream input from a wide variety of sources.
 Use this plugin for access to HTTP, FTP, file, gzip, cdda, WebDAV, and
 many other data streams.
 .
 http://www.gnu.org/directory/libs/GnomeVFS.html

Package: gstreamer-gsm
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: GSM plugin for GStreamer
 GSM plugin for GStreamer based on libgsm
 .
 This plugin enables the use of the European GSM 06.10 provisional standard
 for full-rate speech transcoding, prI-ETS 300 036.

Package: gstreamer-http
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: HTTP plugin for GStreamer
 HTTP plugin for GStreamer
 .
 This plugin enables the input of data from a HTTP source.
 .
 Try the Gnome VFS plugin in the gstreamer-gnomevfs package for
 a more flexible data source.

Package: gstreamer-jack
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: JACK plugin for GStreamer
 JACK plugin for GStreamer
 .
 This plugin enables the use of the JACK low-latency audio server
 for audio stream input and output.
 .
 http://jackit.sourceforge.net/

Package: gstreamer-jpeg
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: JPEG plugin for GStreamer
 JPEG plugin for GStreamer
 .
 This plugin enables the output of JPEG images from a video stream.

Package: gstreamer-mad
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: MAD MPEG audio decoder plugin for GStreamer
 MAD MPEG audio decoder plugin for GStreamer
 .
 This plugin enables the decoding of MPEG audio streams.  It currently
 supports the all three audio layers of the MPEG 1 standard (Layer I,
 Layer II, and Layer III, the latter often colloquially known as MP3.)
 .
 http://www.mars.org/home/rob/proj/mpeg/

Package: gstreamer-mikmod
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: MikMod decoder plugin for GStreamer
 MikMod decoder plugin for GStreamer.
 .
 This plugin enables the decoding of various module formats into an
 audio stream.  MikMod is able to decode the IT, XM, S3M, MTM, 669,
 STM, ULT, FAR, MED, AMF, DSM, IMF, GDM, STX, OKT and of course MOD
 module formats.
 .
 http://www.mikmod.org/

Package: gstreamer-misc
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-plugin-libs, gstreamer-runtime (>= 0.4.1)
Description: Collection of various GStreamer plugins
 Collection of various GStreamer plugins
 .
 This collection of plugins is useful to process many types of stream.
 You most certainly want to install this package.
 .
 A short list of features in this package:
  * a/mulaw
  * audioscale
  * au/cdxa/mp1video/mpegaudio/wavparse
  * avi/qtdemux
  * avimux
  * cutter
  * deinterlace
  * EffecTV (various plugins)
  * synaesthesia
  * goom
  * flxdec
  * int/float conversion
  * LADSPA
  * mono/stereo conversion
  * mpeg stream support
  * mpeg1 system encoder
  * mpeg1/2 encoder
  * mpeg1/2 types
  * mp3 type detection
  * UDP support
  * video scaler
  * volume meter/control
  * v4l support
  * VCD support
  * cdplayer
  * videocrop
  * videotestsrc
  * mixmatrix
  * passthrough!
  * and more...
 .
 These plugins have few if any external dependencies.

Package: gstreamer-mpeg2dec
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: MPEG1 and MPEG2 video decoder plugin for GStreamer
 MPEG1 and MPEG2 video decoder plugin for GStreamer based on libmpeg2
 .
 This plugin enables the decoding of MPEG1 and MPEG2 video streams.
 This type of video is found on DVDs, in VOBs, and as standalone
 streams.
 .
 http://libmpeg2.sourceforge.net/

Package: gstreamer-oss
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: OSS plugin for GStreamer
 OSS plugin for GStreamer
 .
 This plugin enables the use of OSS supported hardware for audio input
 and output.

Package: gstreamer-sdl
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: SDL videosink plugin for GStreamer
 SDL videosink plugin for GStreamer
 .
 This plugin enables the use of SDL supported drivers for video stream
 output.
 .
 http://www.libsdl.org/

Package: gstreamer-sid
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: C64 SID decoder plugin for GStreamer
 C64 SID decoder plugin for GStreamer.
 .
 This plugin enables the decoding of music written for C64 SID chip
 (MOS 6581) and CPU (6510).
 .
 http://stud1.tuwien.ac.at/~e9426444/
 http://sidplay2.sourceforge.net/

Package: gstreamer-vorbis
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: Vorbis plugin for GStreamer
 Vorbis plugin for GStreamer
 .
 This plugin enables the encoding and decoding of Ogg Vorbis audio streams.
 .
 http://www.vorbis.com/

Package: gstreamer-x
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, gstreamer-runtime (>= 0.4.1)
Description: X videosink plugin for GStreamer
 X videosink plugin for GStreamer
 .
 This plugin enables the use of X to display video streams.  This plugin
 will take advantage of XVideo acceleration if the X extension and hardware
 are available.
 .
 http://www.x.org/
 http://www.xfree86.org/
