test-appsrc
test-appsrc2
test-cgroups
test-launch
test-mp4
test-ogg
test-readme
test-record
test-record-auth
test-sdp
test-video
test-video-rtx
test-uri
test-auth
test-netclock
test-netclock-client
test-onvif-backchannel
