<configuration>
  <!-- Linux -->
  <dllmap dll="gstreamer-1.0-0.dll" target="libgstreamer-1.0.so.0" os="linux"/>
  <dllmap dll="gstaudio-1.0-0.dll" target="libgstaudio-1.0.so.0" os="linux"/>
  <dllmap dll="gstbase-1.0-0.dll" target="libgstbase-1.0.so.0" os="linux"/>
  <dllmap dll="gstvideo-1.0-0.dll" target="libgstvideo-1.0.so.0" os="linux"/>
  <dllmap dll="gstpbutils-1.0-0.dll" target="libgstpbutils-1.0.so.0" os="linux"/>
  <dllmap dll="gsttag-1.0-0.dll" target="libgsttag-1.0.so.0" os="linux"/>
  <dllmap dll="gstapp-1.0-0.dll" target="libgstapp-1.0.so.0" os="linux"/>
  <dllmap dll="gstfft-1.0-0.dll" target="libgstfft-1.0.so.0" os="linux"/>
  <dllmap dll="gstnet-1.0-0.dll" target="libgstnet-1.0.so.0" os="linux"/>
  <dllmap dll="gstrtp-1.0-0.dll" target="libgstrtp-1.0.so.0" os="linux"/>
  <dllmap dll="gstrtsp-1.0-0.dll" target="libgstrtsp-1.0.so.0" os="linux"/>
  <dllmap dll="gstsdp-1.0-0.dll" target="libgstsdp-1.0.so.0" os="linux"/>
  <dllmap dll="gstwebrtc-1.0-0.dll" target="libgstwebrtc-1.0.so.0" os="linux"/>
  <dllmap dll="gstcontroller-1.0-0.dll" target="libgstcontroller-1.0.so.0" os="linux"/>
  <dllmap dll="gstrtspserver-1.0-0.dll" target="libgstrtspserver-1.0.so.0" os="linux"/>
  <dllmap dll="glib-2.0-0.dll" target="glib-2.0.so.0" os="linux"/>
  <dllmap dll="gobject-2.0-0.dll" target="gobject-2.0.so.0" os="linux"/>
  <dllmap dll="gthread-2.0-0.dll" target="libgthread-2.0.so.0" os="linux"/>
  <!-- Mac OS X -->
  <dllmap dll="gstreamer-1.0-0.dll" target="libgstreamer-1.0.dylib" os="osx"/>
  <dllmap dll="gstaudio-1.0-0.dll" target="libgstaudio-1.0.dylib" os="osx"/>
  <dllmap dll="gstbase-1.0-0.dll" target="libgstbase-1.0.dylib" os="osx"/>
  <dllmap dll="gstvideo-1.0-0.dll" target="libgstvideo-1.0.dylib" os="osx"/>
  <dllmap dll="gstpbutils-1.0-0.dll" target="libgstpbutils-1.0.dylib" os="osx"/>
  <dllmap dll="gsttag-1.0-0.dll" target="libgsttag-1.0.dylib" os="osx"/>
  <dllmap dll="gstapp-1.0-0.dll" target="libgstapp-1.0.dylib" os="osx"/>
  <dllmap dll="gstfft-1.0-0.dll" target="libgstfft-1.0.dylib" os="osx"/>
  <dllmap dll="gstnet-1.0-0.dll" target="libgstnet-1.0.dylib" os="osx"/>
  <dllmap dll="gstrtp-1.0-0.dll" target="libgstrtp-1.0.dylib" os="osx"/>
  <dllmap dll="gstrtsp-1.0-0.dll" target="libgstrtsp-1.0.dylib" os="osx"/>
  <dllmap dll="gstsdp-1.0-0.dll" target="libgstsdp-1.0.dylib" os="osx"/>
  <dllmap dll="gstwebrtc-1.0-0.dll" target="libgstwebrtc-1.0.dylib" os="osx"/>
  <dllmap dll="gstcontroller-1.0-0.dll" target="libgstcontroller-1.0.dylib" os="osx"/>
  <dllmap dll="gstrtspserver-1.0-0.dll" target="libgstrtspserver-1.0.dylib" os="osx"/>
  <dllmap dll="glib-2.0-0.dll" target="glib-2.0.dylib" os="osx"/>
  <dllmap dll="gobject-2.0-0.dll" target="gobject-2.0.dylib" os="osx"/>
  <dllmap dll="gthread-2.0-0.dll" target="libgthread-2.0.dylib" os="osx"/>
</configuration>
