Makefile
Makefile.in

*-decl.txt
*-decl-list.txt
*-undocumented.txt
*-undeclared.txt
*-unused.txt
*.bak
*.args
*.hierarchy
*.interfaces
*.prerequisites
*.signals

gst-plugins-bad-libs.args.new
gst-plugins-bad-libs.signals.new

tmpl
xml
html

gst-plugins-bad-libs-scan
gst-plugins-bad-libs-scan.c
*-registry.*

*.stamp

