Makefile
Makefile.in
*.o
*.lo
*.la
*.bb
*.bbg
*.da
.deps
.libs

app_fixate
caps
compatibility
erathostenes
fixed
intersect2
intersection
normalisation
union
sets
string-conversions
subtract
value_compare
value_intersect
