Makefile
Makefile.in

*-decl.txt
*-decl-list.txt
*-undeclared.txt
*-undocumented.txt
*-unused.txt

tmpl
xml
html
tmpl/*.sgml

gst-plugins-base-plugins-scan
gst-plugins-base-plugins-scan.c
inspect-registry.*
*.new

html-build.stamp
html.stamp
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl-build.stamp
tmpl.stamp
