Makefile
Makefile.in
html
sgml
gstreamer-plugins.signals
gstreamer-plugins.types
gstreamer-plugins.hierarchy
gstreamer-plugins.pads
gstreamer-plugins.html
gstreamer-plugins-unused.txt
gstreamer-plugins-decl-list.txt
gstreamer-plugins.args

