Makefile
Makefile.in

*-decl.txt
*-decl-list.txt
*-undocumented.txt
*-undeclared.txt
*-unused.txt

tmpl
xml
html

gst-plugins-bad-plugins-scan
gst-plugins-bad-plugins-scan.c
inspect-registry.

html-build.stamp
html.stamp
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl-build.stamp
tmpl.stamp
