<Type Name="Plugin" FullName="Gst.Plugin">
  <TypeSignature Language="C#" Value="public class Plugin : Gst.Object" />
  <AssemblyInfo>
    <AssemblyName>gstreamer-sharp</AssemblyName>
    <AssemblyVersion>0.9.0.0</AssemblyVersion>
    <AssemblyVersion>0.9.1.0</AssemblyVersion>
    <AssemblyVersion>0.9.2.0</AssemblyVersion>
    <AssemblyVersion>0.9.3.0</AssemblyVersion>
    <AssemblyVersion>0.9.5.99</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Gst.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected Plugin ();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Plugin (IntPtr raw);" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="raw" Type="System.IntPtr" />
      </Parameters>
      <Docs>
        <param name="raw">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AddDependency">
      <MemberSignature Language="C#" Value="public void AddDependency (string env_vars, string paths, string names, Gst.PluginDependencyFlags flags);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="env_vars" Type="System.String" />
        <Parameter Name="paths" Type="System.String" />
        <Parameter Name="names" Type="System.String" />
        <Parameter Name="flags" Type="Gst.PluginDependencyFlags" />
      </Parameters>
      <Docs>
        <param name="env_vars">To be added.</param>
        <param name="paths">To be added.</param>
        <param name="names">To be added.</param>
        <param name="flags">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AddDependency">
      <MemberSignature Language="C#" Value="public void AddDependency (string[] env_vars, string[] paths, string[] names, Gst.PluginDependencyFlags flags);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="env_vars" Type="System.String[]" />
        <Parameter Name="paths" Type="System.String[]" />
        <Parameter Name="names" Type="System.String[]" />
        <Parameter Name="flags" Type="Gst.PluginDependencyFlags" />
      </Parameters>
      <Docs>
        <param name="env_vars">To be added.</param>
        <param name="paths">To be added.</param>
        <param name="names">To be added.</param>
        <param name="flags">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CacheData">
      <MemberSignature Language="C#" Value="public Gst.Structure CacheData { set; get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Gst.Structure</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Description">
      <MemberSignature Language="C#" Value="public string Description { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Filename">
      <MemberSignature Language="C#" Value="public string Filename { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GType">
      <MemberSignature Language="C#" Value="public static Gst.GLib.GType GType { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Gst.GLib.GType</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="IsLoaded">
      <MemberSignature Language="C#" Value="public bool IsLoaded { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="License">
      <MemberSignature Language="C#" Value="public string License { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Load">
      <MemberSignature Language="C#" Value="public Gst.Plugin Load ();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Gst.Plugin</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Load">
      <MemberSignature Language="C#" Value="public static Gst.Plugin Load (string name);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Gst.Plugin</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="name">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LoadFile">
      <MemberSignature Language="C#" Value="public static Gst.Plugin LoadFile (string filename);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Gst.Plugin</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="filename" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="filename">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Origin">
      <MemberSignature Language="C#" Value="public string Origin { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Package">
      <MemberSignature Language="C#" Value="public string Package { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="PluginName">
      <MemberSignature Language="C#" Value="public string PluginName { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RegisterStatic">
      <MemberSignature Language="C#" Value="public static bool RegisterStatic (int major_version, int minor_version, string name, string description, Gst.PluginInitFunc init_func, string version, string license, string source, string package, string origin);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="major_version" Type="System.Int32" />
        <Parameter Name="minor_version" Type="System.Int32" />
        <Parameter Name="name" Type="System.String" />
        <Parameter Name="description" Type="System.String" />
        <Parameter Name="init_func" Type="Gst.PluginInitFunc" />
        <Parameter Name="version" Type="System.String" />
        <Parameter Name="license" Type="System.String" />
        <Parameter Name="source" Type="System.String" />
        <Parameter Name="package" Type="System.String" />
        <Parameter Name="origin" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="major_version">To be added.</param>
        <param name="minor_version">To be added.</param>
        <param name="name">To be added.</param>
        <param name="description">To be added.</param>
        <param name="init_func">To be added.</param>
        <param name="version">To be added.</param>
        <param name="license">To be added.</param>
        <param name="source">To be added.</param>
        <param name="package">To be added.</param>
        <param name="origin">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Source">
      <MemberSignature Language="C#" Value="public string Source { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Version">
      <MemberSignature Language="C#" Value="public string Version { get; }" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.9.0.0</AssemblyVersion>
        <AssemblyVersion>0.9.1.0</AssemblyVersion>
        <AssemblyVersion>0.9.2.0</AssemblyVersion>
        <AssemblyVersion>0.9.3.0</AssemblyVersion>
        <AssemblyVersion>0.9.5.99</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
