[Desktop Entry]
Name=GStreamer Debug Viewer
Comment=Examine GStreamer debug log information
StartupNotify=true
Exec=python /home/cymacs/src/gst-debug-viewer/gst-debug-viewer.py
Icon=/home/cymacs/src/gst-debug-viewer/gst-debug-viewer.png
Type=Application
Categories=GNOME;Development

