Makefile
Makefile.in
*.o
*.lo
*.la
.deps
.libs

gstreamer-launch
gstreamer-register
gstreamer-inspect
gstreamer-compprep
gstreamer-complete
gstreamer-guilaunch
*.xml
gst-complete
gst-compprep
gst-inspect
gst-launch
gst-register
gst-xmllaunch
