body.rustdoc {
  padding-top: 50px;
}

/* Revert hotdoc body font size setting */
:root {
  font-size: 16px;
}

/* Media queries for responsive behavior */
@media (max-width: 767px) {
  .gst-navbar-toggle {
    display: block;
  }
}

@media (max-width: 701px) {
  .sidebar {
    padding-top: 50px;
  }
}

@media (min-width: 700px) {
  .sidebar {
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

