.dirstamp
aiffparse
asfmux
assrender
autoconvert
autovideoconvert
baseaudiovisualizer
camerabin
camerabin2
curlfilesink
curlftpsink
curlhttpsink
curlsmtpsink
deinterleave
dataurisrc
faac
faad
gdpdepay
gdppay
h263parse
h264parse
id3mux
imagecapturebin
interleave
jifmux
jpegparse
kate
legacyresample
logoinsert
mpeg2enc
mpegvideoparse
mpeg4videoparse
mpegtsmux
mpg123audiodec
mplex
mxfdemux
mxfmux
neonhttpsrc
ofa
opus
rganalysis
rglimiter
rgvolume
schroenc
shm
spectrum
timidity
y4menc
uvch264demux
videorecordingbin
viewfinderbin
voaacenc
voamrwbenc
zbar
