.dirstamp
aacparse
ac3parse
alphacolor
amrparse
apev2mux
aspectratiocrop
audioamplify
audiochebband
audiocheblimit
audioecho
audiowsincband
audiowsinclimit
audiodynamic
audiofirfilter
audioinvert
audioiirfilter
audiopanorama
autodetect
avimux
avisubtitle
capssetter
deinterlace
deinterleave
equalizer
gdkpixbufsink
flacparse
flvdemux
flvmux
icydemux
id3demux
id3v2mux
imagefreeze
interleave
jpegdec
jpegenc
level
matroskamux
matroskaparse
mpegaudioparse
multifile
qtmux
rganalysis
rglimiter
rgvolume
rtp-payloading
rtpbin
rtpbin_buffer_list
rtpjitterbuffer
shapewipe
souphttpsrc
spectrum
sunaudio
udpsink
udpsrc
videocrop
videofilter
vp8dec
vp8enc
wavpackdec
wavpackenc
wavpackparse
y4menc
